body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    border: 1px solid black;
}

.header, .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 8px;
    background-color: #455173;
    color: azure;
}

.headerLogo {
    flex: 1;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
}

.headerLinks{
    flex: 2;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    gap:16px;
}

.footer{
    display: flex;
    justify-content: center;
}

.body{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    flex: 1;
}

.section.area1{
    display: flex;
    justify-content: center;
    background-color: #455173;
    gap: 50px;
    padding: 75px;
}

.area1Left{
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    gap: 10px;
}

.bigText{
    font-size: xx-large;
    color: white;
    font-weight: 900;
    margin: 0px;
}

.subText{
    margin: 0px;
    color: lightcyan;
}

button{
    width: 100px;
    padding: 4px 8px;
    background-color: cornflowerblue;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

img{
    width: 200px;
}

.section.area3{
    background-color: lightgray;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: azure;
}