body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    border: 1px solid black;
    font-family: Roboto;
}

.header, .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 8px;
    background-color: #1F2937;
    color: azure;
}

.headerLogo {
    flex: 1;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.headerLinks{
    flex: 2;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    gap:16px;
    font-size: 18px;
    color: #E5E7EB;
}

.footer{
    display: flex;
    justify-content: center;
}

.body{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section {
    flex: 1;
}

.section.area1{
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    gap: 50px;
    padding: 75px;
}

.area1Left{
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 200px;
    gap: 10px;
}

.bigText{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.subText{
    margin: 0px;
    color: #E5E7EB;
    font-size: 18px;
}

button{
    width: 100px;
    padding: 4px 8px;
    background-color: #3882F6;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
}

img{
    width: 200px;
}

.section.area2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1F2937;
    padding-bottom: 64px;
}

.section.area2 p{
    font-size: 20px;
    font-weight: 900;
}

.section.area2 .container{
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 12px;
    width: 400px;
}

.section.area2 .container .info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    font-size: 12px;
}

.section.section.area2 .container .info img{
    border: 1px solid blue;
    width: 100px;
    height: 100px;
}

.section.area3{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    font-size: 20px;
    color: #1F2937;
    padding: 64px 32px 32px;
}

.section.area3 .container{
    display: flex;
    text-wrap: wrap;
    flex-direction: column;
    width: 400px;
}

.section.area3 p{
    text-align: end;
    font-size: 16px;
    font-weight: 700;
}

.section.area4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

.section.area4 .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 16px;
    border-radius: 5px;
}

.section.area4 .text{
    font-size: 12px;
}

.section.area4 button{
    height: 22px;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: azure;
}