body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    font-family: Roboto;
}

.header, .footer{
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #1F2937;
    color: azure;
}

.header .content{
    display: flex;
    justify-content: space-between;
}

.headerLogo {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
    color: #F9FAF8;
}

.headerLinks{
    display: flex;
    align-items: center;
    gap:38px;
    font-size: 20px;
    color: #E5E7EB;
}

.content{
    display: flex;
    width: 900px;
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
}

.section.area1{
    background-color: #1F2937;
}

.section.area1 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.area1Left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.bigText{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.subText{
    margin: 0px;
    color: #E5E7EB;
    font-size: 18px;
}

button{
    width: 120px;
    padding: 8px 12px;
    background-color: #3882F6;
    border:#3882F6;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    cursor: pointer;
}

img{
    width: 300px;
    border-radius: 5px;
}

.section.area2 .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #1F2937;
}

.section.area2 p{
    font-size: 36px;
    font-weight: 900;
}

.section.area2 .container{
    display: flex;
    gap: 20px;
}

.section.area2 .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

.img{
    border: 2px solid #1F2937;
    background-color: cornflowerblue;
    border-radius: 6px;
    width: 140px;
    height: 140px;
}

.section.area3{
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    font-size: 32px;
    color: #1F2937;
    padding: 64px;
}

.section.area3 .content{
    display: flex;
    text-wrap: wrap;
    flex-direction: column;
    width: 700px;
}

.section.area3 p{
    text-align: end;
    margin: 0px;
    font-size: 20px;
    font-weight: 700;
}

.section.area4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
}

.section.area4 .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 32px 0px;
    border-radius: 6px;
}

.section.area4 .text p{
    margin: 4px;
}

.section.area4 .boldText{
    font-weight: 900;
    font-size: 18px;
}

.section.area4 button{
    border: 1px solid white;
    font-weight: 600;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: azure;
}